<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Insert title here</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <h1 class="bg-warning text-white px-4 mb-4">Task</h1>
  <div class="container">
    <h2 th:text="${sub}"></h2>
    <table class="table mt-4">
      <nav>
        <ul class="nav nav-tabs">
          <li class="nav-item"><a href="#" th:href="@{/}" class="nav-link active" aria-current="page"
              role="button">すべて</a></li>
          <li class="nav-item"><a href="#" th:href="@{/doing}" class="nav-link active" aria-current="page"
              role="button">対応中</a></li>
          <li class="nav-item"><a href="#" th:href="@{/complete}" class="nav-link active" aria-current="page"
              role="button">完了</a></li>
          <form method="post" th:action="@{/search}" th:object = "${form}">
            <input type="text" name="name" value="" required>
            <input type="submit" class="btn btn-white text-warning btn-outline-warning" value="検索" >
          </form>
        </ul>
      </nav>

      <thead>
        <tr>
          <th>Done</th>
          <th>ID</th>
          <th>Title</th>
          <th>Detail</th>
          <th></th>
          <th></th>
          <th><a href="/input.html" th:href="@{/input}" class="btn btn-warning text-white" role="button">追加</a></th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="item:${taskList}">
          <th:block th:if="${item.done}== false">
            <td>対応中</td>
          </th:block>
          <th:block th:if="${item.done}== true">
            <td>完了</td>
          </th:block>
          <td th:text="*{item.id}"></td>
          <td th:text="*{item.title}"></td>
          <td th:text="*{item.detail}"></td>
          <td>
            <th:block th:if="${item.done}== false">
              <form th:action="@{/done/true/{id}(id = ${item.id})}">
                <input type="submit" class="btn btn-warning text-white" value="COMPLETE">
              </form>
            </th:block>
          </td>

          <td>
            <form th:action="@{/edit/{id}(id = ${item.id})}">
              <input type="submit" class="btn btn-warning text-white btn-outline-white" value="EDIT">
            </form>
          </td>

          <td>
            <form th:action="@{/del/{id}(id = ${item.id})}">
              <input type="submit" class="btn btn-warning text-white btn-outline-white" value="DELETE"
                th:onclick=check()>
            </form>
          </td>

        </tr>
      </tbody>
    </table>
  </div>

  <script th:src="@{/deletepop.js}"></script>
</body>

</html>